@font-face {
  font-family: "Reckoner";
  src: url(fonts/Reckoner.ttf) format("truetype");
}

.starter-template {
  padding-top: 200px;
  text-align: center;
  height: 600px;
  background: url('img/5.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.sub-text {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 100;
  color: #B20000;
  color: black;
}

.bio {
  margin-top: 120px;
  margin-bottom: 120px;
  font-family: 'Vollkorn', serif;
  /*font-family: 'Lato', sans-serif;*/
  font-weight: 100;
  font-size: 30px;
}

.phil {
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 96px;
  padding-bottom: 100px;
  font-family: 'Lato', sans-serif;
  font-family: 'Vollkorn', serif;
  font-weight: 100;
  font-size: 30px;
  color: white;
  color: black;
}

.phil-title {
    font-family: 'Vollkorn', serif;
    font-family: 'Oranienbaum';
    text-transform: uppercase;
    font-style: italic;
    font-weight: 300;
    font-size: 55px;
    color: #B20000; 
}

.phil-title:hover {
    text-decoration: none;
    color: #B20000;
}

.port-title {
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 90px;
  padding-bottom: 56px;
  font-family: 'Lato', sans-serif;
  font-family: 'Modern Sans';
  font-size: 30px;
  text-transform: uppercase;
  color: black;
  text-align: center;
}

.port-sub {
  font-family: 'Oranienbaum';
  color: #B20000;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

.port-title > i {
  color: #B20000;
}

.port-item {
    text-decoration: none;
    font-family: 'Reckoner';
    font-weight: 800;
    font-style: italic;
}

.port-item:hover {
    text-decoration: none;
}

.title {
  font-family: 'Vollkorn', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Oranienbaum';
  font-weight: 300;
  font-size: 40px;
  
}

.contact-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    color: white;
    color: #006699;
    text-align: center;
    padding: 100px;
}

.lets-talk-sub {
  margin-right: 10px;
  margin-left: 80px;
  padding-bottom: 56px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: black;
/*  text-align: center;*/
}

.lets-talk-sub > a {
    color: black;
}

.lets-talk-sub > a:hover {
    color: #006699;
    text-decoration: none;
    -webkit-transition: color .5s;
    -moz-transition:    color .5s;
    -ms-transition:     color .5s;
    -o-transition:      color .5s;
    transition:         color .5s;
}

.lets-talk-title {
     margin-right: 100px;
  margin-left: 100px;
  padding-top: 53px;
  
  font-family: 'Oranienbaum';
  color: #B20000;
  font-size: 45px;
/*  text-align: center;*/
  font-style: italic;
}

.social-box {
    font-size: 75px;
    color: white;
    text-align: center;
    padding: 75px;
}

.peek-section {
    background-color: #0099FF;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.peek-section:hover {
    background-color: #4DB8FF;
}

.ludus-section {
    background-color: #003366;
    font-family: 'Reckoner';
    font-weight: 800;
    font-style: italic;
}

.ludus-section:hover {
    background-color: #4D7094;
}

.gray-section {
  background-color: #EEEEEE;
}

.blue-section {
  background-color: #006699;
}

.black-section {
  background-color: black;
}

.tan-section {
  background-color: #EAEAE0;
}

.light-tan-section {
  background-color: #F3F2EA;
}

.dark-tan-section {
    background-color: #D3D3C9;
}

.google-plus-section {
    background-color: #dd4b39;
}

.google-plus-section:hover {
    background-color: #E78174;
}

.github-section {
    background-color: #333;
}

.github-section:hover {
    background-color: #707070;
}

.facebook-section {
    background-color: #3b5998;
}

.facebook-section:hover {
    background-color: #768BB7;
}

.linkedin-section {
    background-color: #007bb6;
}

.linkedin-section:hover {
    background-color: #4DA3CC;
}

.gmail-section {
    background-color: #f4b400;
}

.gmail-section:hover {
    background-color: #f4b400;
}

.pinterest-section {
    background-color: #cb2027;
}

.pinterest-section:hover {
    background-color: #DB6368;
}

/*NO SPACE FOR PICS*/
.no-padding {
    padding: 0;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
/*    max-width: 650px;*/
}
